* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
  }
  
  .new-nav {
    height: 70px; /* Changed height to accommodate logo */
    width: 100%;
    position: relative;
    padding-bottom: 10px;
  }
  
  .new-nav > .new-nav-header {
    display: inline;
  }
  
  .new-nav > .new-nav-header > .new-nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000;
    padding: 10px 10px 10px 10px;
  }
  
  .new-nav-header .new-nav-title {
    margin-left: 100px;
  }
  
  .new-nav > .new-nav-btn {
    display: none;
  }
  
  .new-nav > .new-nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin-right: 5%;
  }
  
  .new-nav > .new-nav-links > a {
    display: inline-block;
    padding: 13px 18px 13px 18px;
    text-decoration: none;
    color: #000;
  }
  
  .new-nav > .new-nav-links > a:hover {
    color: #FFFF;
    background-color: #1a2c79;
    border-radius: 25px; /* Applying border radius of 5px */
  }
  
  
  .new-nav > #new-nav-check {
    display: none;
  }
  body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  
  .home {
    display: grid;
    grid-template-columns: 45% 50%;
    place-items: center;
    gap: 80px;
    overflow: hidden;
    padding: 10px 80px;
  }
  
  .description {
    color: #000;
  }
  
  .description h2 {
    font-size:35px; /* Adjusted font size */
    line-height: 0.8;
    color: #142161;
    font-family:'Prata';
  }
  
  .description p {
    font-size: 16px; /* Adjusted font size */
    line-height: 0.8;
    margin-bottom: 20px; /* Reduced margin */
    font-family:'Nunito';
  }
  
  @media (max-width: 815px) {
    .home {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  
  
    .description h2 {
      font-size: 20px; /* Adjusted font size */
      margin: 0;
    }
  
    .description p {
      font-size: 10px; /* Adjusted font size */
    }
  }
  
  @media (max-width: 460px) {
    .home {
      padding: 30px 40px;
    }
  
    .title {
      padding-top: 20px;
    }
  }
  
  @media (max-width: 600px) {
    .new-nav > .new-nav-header {
      width: 100%;
      text-align: center; /* Center align header */
    }
  
    .new-nav-header .new-nav-title {
      margin-left: 0;
    }
  
    .new-nav > .new-nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  
    .new-nav > .new-nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
  
    .new-nav > .new-nav-btn > label:hover,
    .new-nav #new-nav-check:checked ~ .new-nav-btn > label {
      color: #ED7014;
      background-color: #1a2c79;
      margin: 5px 10px 2px 2px;
    }
  
    .new-nav > .new-nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid black;
    }
  
    .new-nav > .new-nav-links {
      margin-top: 20px;
      position: absolute;
      display: block;
      width: 100%;
      background-color: white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px; /* Adjusted top position */
      left: 0px;
      text-align: center; /* Center align links */
    }
  
    .new-nav > .new-nav-links > a {
      display: block;
      width: 100%;
    }
  
    .new-nav > #new-nav-check:not(:checked) ~ .new-nav-links {
      height: 0px;
    }
  
    .new-nav > #new-nav-check:checked ~ .new-nav-links {
      height: calc(100vh - 70px); /* Adjusted height */
      overflow-y: auto;
    }
  }
  .btn1{
    display: flex;
    justify-content: center;
  }

  .container1 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .video-description {
    font-size: 16px;
    text-align: justify;
    font-family:'Nunito';
  }
  .videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }

  .video {
    text-align: center;
  }

  .video iframe {
    width: 100%;
    height: 250px;
  }

  @media screen and (max-width: 768px) {
    .videos-grid {
      grid-template-columns: 1fr;
    }
  }
  .button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #142161;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
    color: #fff;
      }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }